html, body, div{
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

/* -------------------------------------------- FONTS ------------------------------- */

@font-face {
  font-family: 'SemplicitaPro-Bold';
  src: url('fonts/SemplicitaPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SemplicitaPro-Light';
  src: url('fonts/SemplicitaPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SemplicitaPro-Medium';
  src: url('fonts/SemplicitaPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SemplicitaPro-Regular';
  src: url('fonts/SemplicitaPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SemplicitaPro-Semibold';
  src: url('fonts/SemplicitaPro-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SemplicitaPro-SemiboldItalic';
  src: url('fonts/SemplicitaPro-SemiboldItalic.otf') format('opentype');
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

$font-bold: 'SemplicitaPro-Regular';
$font-light: 'SemplicitaPro-Light';
$font-medium: 'SemplicitaPro-Medium';
$font-regular: 'SemplicitaPro-Regular';
$font-semibold: 'SemplicitaPro-Semibold';
$font-semibolditalic: 'SemplicitaPro-SemiboldItalic';

/* -------------------------------- Globals & Color ---------------------------- */

$pageBG: #f4f4f4;
$productListColor: #c0beb9;

.container-fluid {
  padding: 0px !important;
}

.row {
  margin: 0px !important;
}

.page-container {
  min-height: 100vh;
  min-width: 100vw;
}

/* -------------------------------- Navigation Section ---------------------------- */

.navbar {
  margin-bottom: 0px !important;
  font-family: $font-regular;
  height: 60px !important;
}

#myNavbar {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 25px;
  padding-top: 10px;
}

#myNavbar ul li {
  font-family: $font-semibold;
  font-size: 12pt;
  a {
    color: white !important;
  }
}

.navbar-brand {
  margin-left: 15px;
  margin-top: 5px;
  width: 50%;
  height:55px !important;
  font-family: $font-semibold;
  font-size: 16pt;
  color: white !important;
}

.navbar-toggle {
  float:left !important;
  margin-left: 15px;
  margin-right: none !important;
  margin-top: 10px !important;
  border: none !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
}

.icon-bar {
  background-color: #a5a5a5 !important;
  margin-bottom: 6px !important;
  width: 18px !important;
}

.navbar-collapse {
  border-top: none !important;
}

.navbar-bg {
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom bottom;
  margin-left: -1px !important;
}

.navbar-header {
  margin: 0px !important;
  border: none !important;
}

.cart-icon {
  float:right;
  margin-right:10px;
  margin-top:7.5px;
}

.cart-nav {
  margin:0px !important;
}

.affix {
  z-index: 10 !important;
}

/* -------------------------------- Front Page Section ---------------------------- */

.front-page-container {
  background-color: $pageBG;
  h2 {
    font-size: 11pt;
    font-family: $font-semibold;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
  }
  img {
    max-width: 100%;
  }
  .products {
    margin-top: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    img {
      max-width: 100%;
    }
  }
}

#fp-footer {
  min-width: 100%;
  padding-bottom: 40px !important;
  padding-top: 15px !important;
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom;
}

.fp-footer-details {
  font-family: $font-regular;
  padding-top: 1em;
  margin-bottom: 5px;
  font-size: 7pt;

  p {
    margin: 0px;
    color: white;
  }
}

/* -------------------------------- Contact Section ---------------------------- */

.contact-container {
  min-width: 100%;
}

.contact-headline {
  font-family: $font-semibold;
  padding-bottom: 1em;
}

.contact-details {
  font-family: $font-regular;
  padding-top: 1em;
  margin-bottom: 5px;


  p {
    margin: 0px;
  }
}

.contact-card {
  padding-top: 2em;
}

.contact-name {
  font-family: $font-semibolditalic;
  font-size: 0.55em;
  padding-top: 3em;
}

.contact-info {
  font-family: $font-regular;
  padding-top: 1.5em;
}

/* -------------------------------- Product Section ---------------------------- */

.product-container {
  background-color: $pageBG;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px 10px !important;
  img {
    margin-top: 10px;
  }
  h2, h3, h4 {
    font-family: $font-semibold;
  }
  h2 {
    font-size: 13pt;
  }
  h3 {
    font-size: 11pt;
    margin-bottom: 0px !important;
  }
  h4 {
    font-size: 6pt;
    margin-bottom: 0px !important;
  }
  p {
    font-family: $font-light !important;
    font-size: 6pt;
  }
  .product-p-large {
    font-size: 9pt !important;
  }
  .product-info {
    p {
      margin-bottom: 0px !important;
    }
  }
  .product-info-grey {
    p {
      color: $productListColor !important;
    }
    .active-item {
      color: black !important;
    }
  }
}

.product-img-container {
  border-bottom: 2px black solid;
  ul {
    margin: 15px 0px;
    li {
      display: inline-block !important;
      font-family: $font-light;
      font-size: 6.5pt;
      color: $productListColor;
    }
  }
}

/* -------------------------------- Order Page ---------------------------- */

.order-page-container {
  background-color: $pageBG;
  padding: 0px 10px !important;
  padding-bottom: 40px !important;
  h3 {
    font-size: 8pt;
    display: inline-block !important;
    margin-bottom: 20px !important;
  }
  h4 {
    font-family: $font-semibold;
    font-size: 6pt;
    margin-bottom: 0px !important;
  }
  .regular {
    font-family: $font-regular;
    float: left;
  }
  .semibold {
    font-family: $font-semibold;
    float: right;
  }
}

.order-progress, .order-info-container {
  padding: 0px !important;
}

.order-info-container {
  div, h3 {
    padding: 0px !important;
  }
}

.order-progress {
  ul {
    padding-bottom: 25px !important;
    padding-top: 20px !important;
    margin-top: 10px;
    margin-bottom: 0px !important;
    border-bottom: 2px black solid;
    li {
      display: inline-block !important;
      min-width: 25%;
      float: left;
      a {
        display: block !important;
        font-family: $font-light;
        font-size: 6pt;
        color: $productListColor;
      }
    }
  }
  .active-item {
    color: black !important;
    font-family: $font-semibold;
  }
}

.order-product-info {
  max-width: 33%;
  p {
    font-family: $font-light;
    font-size: 4pt;
  }
}

.order-payment-container {
  margin-top: 10px !important;
  padding: 0px !important;
  div {
    padding: 0px !important;
  }
  p {
    font-family: $font-light;
    font-size: 7pt;
    margin: 0px !important;
  }
}

/* -------------------------------- Billing Page ---------------------------- */

.billing-page-container {
  @extend .order-page-container;
  div {
    padding: 0px !important;
  }
  .billing-shipping {
    font-family: $font-medium;
    font-size: 6pt;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    p {
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
    }
    h4 {
      margin-bottom: 20px !important;
    }
  }
  .billing-delivery {
    font-family: $font-light;
    font-size: 6pt;
  }
  .billing-info {
    p {
      font-family: $font-medium;
      font-size: 6pt;
      margin-bottom: 0px !important;
      margin-top: 5px;
    }
    input {
      border: none;
      height: 15px;
      width: 10 / 12 * 100%;
    }
  }
  .billing-info-right {
    div {
      display: inline-block;
      width: 4.8 / 12 * 100%;
    }
  }
}

/* -------------------------------- Terms amd Conditions ---------------------------- */

.terms-text {
  font-family: $font-regular;
}

.terms-headline {
  font-family: $font-semibold;
  padding-bottom: 1em;

}

/*.terms-details {
  font-family: $font-regular;
  padding-top: 1em;
  margin-bottom: 5px;


  p {
    margin: 0px;
  }
}*/

.terms-returns {
  padding-top: 2.5em;
}

/* -------------------------------- Newsletter ---------------------------- */

.news-image {
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom bottom;
  min-height: 100vh;
}

.white-part {
  min-height: 50vh;
  background-color: white;
  color:black;
}

.newsletter-headline {
  font-family: $font-semibold;
  padding-bottom: 1em;
  padding-top: 1.5em;
}

/*#input-field {
  padding-top: 15vh;
}*/

#field {
  border: white solid 3px;
  background-color: transparent;
}

/* TO BE CONTINUED */


/* -------------------------------- Newsletter ---------------------------- */

.newsletter-headline {
  font-family: $font-semibold;
  font-size: 12pt;
  padding-top: 5em;
}

.social-links {
  font-family: $font-regular;
  font-size: 12pt;
  padding-top: 5em;
  color: white;
}




























