.container-fluid {
  padding: 0px !important;
}

.page-container {
  min-height: 100vh;
  min-width: 100vw;
}

/* -------------------------------- Front Page Section ---------------------------- */




/* -------------------------------- Contact Section ---------------------------- */

#white-part {
  min-height: 50vh;
  min-width: 100vw;
  background-color: #ff3;
  z-index: -5000;

}

#black-part {
  min-height: 50vh;
  min-width: 100vh;
  background-color: #222;
  z-index: -5000;
  position: absolute;
}