html, body, div {
  width: 100%; }

* {
  margin: 0px;
  padding: 0px; }

/* -------------------------------------------- FONTS ------------------------------- */
@font-face {
  font-family: 'SemplicitaPro-Bold';
  src: url("fonts/SemplicitaPro-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Light';
  src: url("fonts/SemplicitaPro-Light.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Medium';
  src: url("fonts/SemplicitaPro-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Regular';
  src: url("fonts/SemplicitaPro-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Semibold';
  src: url("fonts/SemplicitaPro-Semibold.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-SemiboldItalic';
  src: url("fonts/SemplicitaPro-SemiboldItalic.otf") format("opentype"); }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }
.container-fluid {
  padding: 0px !important; }

.row {
  margin: 0px !important; }

.page-container {
  min-height: 100vh;
  min-width: 100vw; }

/* -------------------------------- Navigation Section ---------------------------- */
.navbar {
  margin-bottom: 0px !important;
  font-family: "SemplicitaPro-Regular"; }

#myNavbar {
  margin-right: 0px;
  margin-left: 0px; }

.navbar-brand {
  margin-left: 5px;
  margin-top: 5px;
  width: 50%;
  height: 55px !important; }

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  margin-right: none !important; }

.navbar-header {
  margin: 0px !important; }

.cart-icon {
  float: right;
  margin-right: 0px;
  margin-top: 7.5px; }

.cart-nav {
  margin: 0px !important; }

/* -------------------------------- Front Page Section ---------------------------- */
.img-front {
  min-height: 90vh;
  display: block;
  overflow: hidden;
  max-width: 100%;
  min-width: 100%; }

/* -------------------------------- Contact Section ---------------------------- */
.contact-container {
  min-width: 100%; }

#white-part {
  min-height: 50vh;
  min-width: 100%;
  background-color: #ff3; }

#black-part {
  min-height: 50vh;
  min-width: 100%;
  background-color: #222; }

.contact-card {
  color: white;
  padding-top: 2em; }

.contact-headline {
  font-family: "SemplicitaPro-Semibold"; }

.contact-details {
  font-family: "SemplicitaPro-Regular";
  padding-top: 1em;
  margin-bottom: 5px; }
  .contact-details p {
    margin: 0px; }

.contact-name {
  font-family: "SemplicitaPro-SemiboldItalic";
  font-size: 0.55em;
  padding-top: 3em; }

.contact-info {
  font-family: "SemplicitaPro-Regular";
  padding-top: 3em; }

/*# sourceMappingURL=style.css.map */
