html, body, div {
  width: 100%; }

* {
  margin: 0px;
  padding: 0px; }

/* -------------------------------------------- FONTS ------------------------------- */
@font-face {
  font-family: 'SemplicitaPro-Bold';
  src: url("fonts/SemplicitaPro-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Light';
  src: url("fonts/SemplicitaPro-Light.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Medium';
  src: url("fonts/SemplicitaPro-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Regular';
  src: url("fonts/SemplicitaPro-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-Semibold';
  src: url("fonts/SemplicitaPro-Semibold.otf") format("opentype"); }
@font-face {
  font-family: 'SemplicitaPro-SemiboldItalic';
  src: url("fonts/SemplicitaPro-SemiboldItalic.otf") format("opentype"); }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }
/* -------------------------------- Globals & Color ---------------------------- */
.container-fluid {
  padding: 0px !important; }

.row {
  margin: 0px !important; }

.page-container {
  min-height: 100vh;
  min-width: 100vw; }

/* -------------------------------- Navigation Section ---------------------------- */
.navbar {
  margin-bottom: 0px !important;
  font-family: "SemplicitaPro-Regular";
  height: 60px !important; }

#myNavbar {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 25px;
  padding-top: 10px; }

#myNavbar ul li {
  font-family: "SemplicitaPro-Semibold";
  font-size: 12pt; }
  #myNavbar ul li a {
    color: white !important; }

.navbar-brand {
  margin-left: 15px;
  margin-top: 5px;
  width: 50%;
  height: 55px !important;
  font-family: "SemplicitaPro-Semibold";
  font-size: 16pt;
  color: white !important; }

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  margin-right: none !important;
  margin-top: 10px !important;
  border: none !important; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important; }

.icon-bar {
  background-color: #a5a5a5 !important;
  margin-bottom: 6px !important;
  width: 18px !important; }

.navbar-collapse {
  border-top: none !important; }

.navbar-bg {
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom bottom;
  margin-left: -1px !important; }

.navbar-header {
  margin: 0px !important;
  border: none !important; }

.cart-icon {
  float: right;
  margin-right: 10px;
  margin-top: 7.5px; }

.cart-nav {
  margin: 0px !important; }

.affix {
  z-index: 10 !important; }

/* -------------------------------- Front Page Section ---------------------------- */
.front-page-container {
  background-color: #f4f4f4; }
  .front-page-container h2 {
    font-size: 11pt;
    font-family: "SemplicitaPro-Semibold";
    margin-top: 15px !important;
    margin-bottom: 20px !important; }
  .front-page-container img {
    max-width: 100%; }
  .front-page-container .products {
    margin-top: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important; }
    .front-page-container .products img {
      max-width: 100%; }

#fp-footer {
  min-width: 100%;
  padding-bottom: 40px !important;
  padding-top: 15px !important;
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom; }

.fp-footer-details {
  font-family: "SemplicitaPro-Regular";
  padding-top: 1em;
  margin-bottom: 5px;
  font-size: 7pt; }
  .fp-footer-details p {
    margin: 0px;
    color: white; }

/* -------------------------------- Contact Section ---------------------------- */
.contact-container {
  min-width: 100%; }

.contact-headline {
  font-family: "SemplicitaPro-Semibold";
  padding-bottom: 1em; }

.contact-details {
  font-family: "SemplicitaPro-Regular";
  padding-top: 1em;
  margin-bottom: 5px; }
  .contact-details p {
    margin: 0px; }

.contact-card {
  padding-top: 2em; }

.contact-name {
  font-family: "SemplicitaPro-SemiboldItalic";
  font-size: 0.55em;
  padding-top: 3em; }

.contact-info {
  font-family: "SemplicitaPro-Regular";
  padding-top: 1.5em; }

/* -------------------------------- Product Section ---------------------------- */
.product-container {
  background-color: #f4f4f4;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px 10px !important; }
  .product-container img {
    margin-top: 10px; }
  .product-container h2, .product-container h3, .product-container h4 {
    font-family: "SemplicitaPro-Semibold"; }
  .product-container h2 {
    font-size: 13pt; }
  .product-container h3 {
    font-size: 11pt;
    margin-bottom: 0px !important; }
  .product-container h4 {
    font-size: 6pt;
    margin-bottom: 0px !important; }
  .product-container p {
    font-family: "SemplicitaPro-Light" !important;
    font-size: 6pt; }
  .product-container .product-p-large {
    font-size: 9pt !important; }
  .product-container .product-info p {
    margin-bottom: 0px !important; }
  .product-container .product-info-grey p {
    color: #c0beb9 !important; }
  .product-container .product-info-grey .active-item {
    color: black !important; }

.product-img-container {
  border-bottom: 2px black solid; }
  .product-img-container ul {
    margin: 15px 0px; }
    .product-img-container ul li {
      display: inline-block !important;
      font-family: "SemplicitaPro-Light";
      font-size: 6.5pt;
      color: #c0beb9; }

/* -------------------------------- Order Page ---------------------------- */
.order-page-container {
  background-color: #f4f4f4;
  min-height: 90vh;
  padding: 0px 10px !important;
  padding-bottom: 40px !important; }
  .order-page-container h3 {
    font-size: 8pt;
    display: inline-block !important;
    margin-bottom: 20px !important; }
  .order-page-container h4 {
    font-family: "SemplicitaPro-Semibold";
    font-size: 6pt;
    margin-bottom: 0px !important; }
  .order-page-container .regular {
    font-family: "SemplicitaPro-Regular";
    float: left; }
  .order-page-container .semibold {
    font-family: "SemplicitaPro-Semibold";
    float: right; }

.order-progress, .order-info-container {
  padding: 0px !important; }

.order-info-container div, .order-info-container h3 {
  padding: 0px !important; }

.order-progress ul {
  padding-bottom: 25px !important;
  padding-top: 20px !important;
  margin-top: 10px;
  margin-bottom: 0px !important;
  border-bottom: 2px black solid; }
  .order-progress ul li {
    display: inline-block !important;
    min-width: 25%;
    float: left; }
    .order-progress ul li a {
      display: block !important;
      font-family: "SemplicitaPro-Light";
      font-size: 6pt;
      color: #c0beb9; }
.order-progress .active-item {
  color: black !important;
  font-family: "SemplicitaPro-Semibold"; }

.order-product-info {
  max-width: 33%; }
  .order-product-info p {
    font-family: "SemplicitaPro-Light";
    font-size: 4pt; }

.order-payment-container {
  margin-top: 10px !important;
  padding: 0px !important; }
  .order-payment-container div {
    padding: 0px !important; }
  .order-payment-container p {
    font-family: "SemplicitaPro-Light";
    font-size: 7pt;
    margin: 0px !important; }

/* -------------------------------- Terms amd Conditions ---------------------------- */
.terms-text {
  font-family: "SemplicitaPro-Regular"; }

.terms-headline {
  font-family: "SemplicitaPro-Semibold";
  padding-bottom: 1em; }

/*.terms-details {
  font-family: $font-regular;
  padding-top: 1em;
  margin-bottom: 5px;


  p {
    margin: 0px;
  }
}*/
.terms-returns {
  padding-top: 2.5em; }

/* -------------------------------- Newsletter ---------------------------- */
.news-image {
  background-image: url("img/2.png");
  background-size: 300%;
  background-position: bottom;
  min-height: 100vh; }

.white-part {
  min-height: 50vh;
  background-color: white;
  color: black; }

.newsletter-headline {
  font-family: "SemplicitaPro-Semibold";
  padding-bottom: 1em;
  padding-top: 1.5em; }

/*#input-field {
  padding-top: 15vh;
}*/
#field {
  border: white solid 1px;
  background-color: transparent;
  color: white;
  border-radius: 0px !important;
  padding-bottom: 1px; }

#field::-webkit-input-placeholder {
  color: white; }

#field:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

#field::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

#field:-ms-input-placeholder {
  color: white; }

#subs-btn {
  background-color: white;
  color: black;
  border-radius: 0px !important;
  border: white solid 1px !important; }

.news-block {
  padding-top: 12em;
  font-family: "SemplicitaPro-Medium";
  font-size: 8pt; }

.mail-field {
  padding-right: 0px !important; }

.button-field {
  padding-left: 0px !important; }

/*.font-style {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  padding-top: 7px;
  padding-bottom: 5px;
}*/
/* -------------------------------- Social ---------------------------- */
.newsletter-headline {
  font-family: "SemplicitaPro-Semibold";
  font-size: 12pt;
  padding-top: 5em; }

.social-links {
  font-family: "SemplicitaPro-Regular";
  font-size: 12pt;
  padding-top: 5em;
  color: white; }

/*# sourceMappingURL=style.css.map */
